.HolderOfHelp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    margin-top: 20px;
}

.informations{
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: fit-content;
    width: 80%;

    padding: 10px;

    background-color: var(--very-dark-orange);

    border: 3px solid var(--Yellow);
    border-radius: 10px;

    .Description{
        padding-bottom: 5%;

        text-align: center;
        color: var(--Yellow);
        
        width: 100%;
        
    }

    .instruction{
        text-align: center;
        width: 100%;

        p{
            color: white;
            b{
                color: var(--Yellow);
            }
        }

    }

    a{
      text-decoration: none;
      color: var(--Yellow);
  
      border:2px solid var(--Yellow);
      border-radius: 10px;
  
      margin-top: 3%;
      padding: 5px;
  
      width: 50%;

      background-color: var(--super-dark-orange);
    }
  
  }