.home{
    background-image: url(@/assets/bg-home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
  
    height:80%;
  
  
    display: flex;
    justify-content: center;
    align-items: end;
    
    a{
      text-decoration: none;
      color: var(--Yellow);
  
      border:2px solid var(--Yellow);
      border-radius: 10px;
  
      margin-bottom: 3%;
      padding: 5px;
  
      width: 50%;
    }
  
  }